<div class="container">
  <div class="row">
    <div class="col-md-8 mx-md-auto px-md-4">
        <h1> <%= @post.title %> </h1>

        <p> <%= @post.content %> </p>

        <%= link_to 'Volver a la lista de posts', posts_path %>
    </div>
  </div>
</div>